.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #27272a;
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #3f3f46;
}

.prose h1,
.prose h2,
.prose h3 {
    letter-spacing: 0.05em;
    font-weight: 300;
}

.prose p {
    line-height: 1.8;
}

.DOCS {
    letter-spacing: 0.3em;
}